extends layout

block content
  .container
    .projects
      for project in projects
        .project
          div
            div
              h2.name #{project.repo}
              p.username #{project.username}
              a.repo(href= project.repoUrl) Github repo
            div
              p.level #{project.difficulty}
          div
            h4 comment
            p.comment #{project.comment}
          div(onclick='app.showReadme(this)')
            div
              p.readme README
              svg(width="100%", height="100%", viewbox="0 0 5 6", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xml:space="preserve", style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;")
                path(d="M4.154,2.505l-4.154,2.506l0,-5.011l4.154,2.505Z", style="fill:#000;")
            p.languages #{project.languages}
          .github-readme
            | !{project.README}
  script(src='/js/main.js')

