extends layout

block content
  .container
    if messages.success
      div.text-success
        for success in messages.success
          div= success.msg
    if messages.error
      div.text-danger
        for error in messages.error
          div= error.msg
    h1 Profile
    .profile
      div
        //- img.gravatar(src=user.gravatar, width='100', height='100')
        form(method='POST', action='/profile?_method=PUT')
          label(for='email') Email
          input(type='email', name='email', id='email', value=user.email)

          label(for='name') Name
          input(type='text', name='name', id='name', value=user.name)

          label(for='website') Website
          input(type='text', name='website', id='website', value=user.website)

          br
          button(type='submit') Update Profile
        
        h3 Change Password

        form(method='POST', action='/profile?_method=PUT')
          label(for='password') New Password
          input(type='password', name='password', id='password')
          label(for='confirm') Confirm Password
          input(type='password', name='confirm', id='confirm')
          br
          button(type='submit') Change Password

        h3 Linked Accounts
        if user.github
          p: a.text-danger(href='/unlink/github') Unlink your Github account
        else
          p: a(href='/auth/github') Link your Github account

        h3 Delete Account
        form(method='POST', action='/profile?_method=DELETE')
          p You can delete your account, but keep in mind this action is irreversible.
          button#delete(type='submit') Delete my account